In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('PlayTennis.csv')
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [3]:
df['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [4]:
py = 9/14
pn = 5/14

In [5]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [6]:
pd.crosstab(df['Outlook'],df['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [7]:
pon = 0
prn = 2.5
psn = 3.5

poy = 4/9
pry = 3/9
psy = 2/9

In [8]:
pd.crosstab(df['Temperature'],df['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [9]:
coolno = 1/5
hotno = 2/5
mildno = 2/5

coolyes = 3/9
hotyes = 2/9
mildyes = 4/9

In [10]:
pd.crosstab(df['Humidity'],df['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [11]:
highno = 4/5
normalno = 1/5

highyes = 3/9
normalyes = 6/9

In [12]:
pd.crosstab(df['Wind'],df['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [13]:
strongno = 3/5
weakno = 2/5

strongyes = 3/9
weakyes = 6/9

In [14]:
pyes = py * psy * hotyes * highyes * weakyes
pyes

0.007054673721340388

In [16]:
pno = pn * psn * hotno * highno * weakno
pno

0.16000000000000003